<main class="main-container">
  <div class="flex mb-2 items-center gap-2 mt-4">
    <lucide-angular routerLink="/attendance/{{slug}}" [img]="CornerDownLeft" [size]="32" class="cursor-pointer border border-text-300 rounded-md shadow-2xs shadow-text-300"></lucide-angular>
    <h1 class="font-bold text-2xl">LTHMI Recto - Sunday Service</h1>
  </div>
  <h2 class="text-xl mt-2">Welcome back 👋🏻</h2>
  <p>Are you a regular attendee, part of Back to Life, or a VIP? Find your name here and click 'Present' to mark yourself as present.</p>
  
  <section class="mt-2">
    <div class="flex gap-4 items-start">
      <webcam [trigger]="triggerObservable" (imageCapture)="snapshot($event)" class="transform scale-x-[-1] "></webcam>
  
      @if (previewImage) {
        <img [src]="previewImage" alt="Preview" height="250" width="250">
      }
    </div>
    
    <div class="flex gap-2">
      <button 
        mat-flat-button
        color="primary"
        (click)="captureImage()"
        [disabled]="isCheckInByFaceLoading"
      >Capture</button>
    </div>
  </section>

  <section class="mt-4"> 
    <h1 class="font-bold text-xl">Manual Check-In</h1>

    <mat-form-field appearance="outline" class="w-full mt-4">
      <mat-label>Filter</mat-label>
      <input matInput (keydown.enter)="onSearchAttendanceRecord($event)" placeholder="Type a name to search...">
    </mat-form-field>

    @if (attendees.loading) {
      <div class="flex flex-col items-center gap-4 backdrop-blur-md text-text-300 my-4 rounded-lg">
        <img src="assets/gifs/neon-cat.gif" alt="Neon Cat" class="h-40 rounded-md shadow-lg shadow-monochromatic-dark">
        <p class="font-semibold">Querying quantum foam . . .</p>
      </div>
    }

    @if (!attendees.loading && !attendees.errorMessage)  {
      <div class="overflow-x-auto">
        <table cdk-table [dataSource]="attendeesDataSource" class="min-w-[650px] w-full border border-text-300 rounded-md mt-1">
          <ng-container cdkColumnDef="fullName">
            <th cdk-header-cell *cdkHeaderCellDef class="bg-[#067BC3] text-left pl-6 py-3 text-white">Full Name</th>
            <td cdk-cell *cdkCellDef="let element" class="bg-monochromatic-light text-left pl-6 py-3 text-text-900 font-bold border-t border-text-300 capitalize"> 
              {{element.firstName}} {{element.lastName}}
            </td>
          </ng-container>
  
          <ng-container cdkColumnDef="memberStatus">
            <th cdk-header-cell *cdkHeaderCellDef class="bg-[#067BC3] text-left py-3 text-white">Member Status</th>
            <td cdk-cell *cdkCellDef="let element" class="bg-monochromatic-light text-left py-3 text-text-900 border-t border-text-300">
              {{element.memberStatus || '-'}} 
            </td>
          </ng-container>
  
          <ng-container cdkColumnDef="primaryLeader">
            <th cdk-header-cell *cdkHeaderCellDef class="bg-[#067BC3] text-left py-3 text-white">Primary Leader</th>
            <td cdk-cell *cdkCellDef="let element" class="bg-monochromatic-light text-left py-3 text-text-900 border-t border-text-300"> 
              {{ element.primaryLeader ? (element.primaryLeader.firstName + " " + element.primaryLeader.lastName) : '-' }}
            </td>
          </ng-container>
  
          <ng-container cdkColumnDef="actions">
            <th cdk-header-cell *cdkHeaderCellDef class="bg-[#067BC3] pr-6 py-3 text-white text-right">Actions</th>
            <td cdk-cell *cdkCellDef="let element" class="bg-monochromatic-light pr-6 py-3 text-text-900 border-t border-text-300 text-right">
              <button
                mat-flat-button
                color="primary"
                (click)="manualCheckIn(element.id, element.firstName)"
                [disabled]="isCheckInLoading"
              >
                Check In
              </button>
            </td>
          </ng-container>
  
          <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
          <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
        </table>  
      </div>

      <mat-paginator
        #checkedInPaginator
        [length]="attendees.totalCount" 
        [pageSize]="pageLimit" 
        [pageSizeOptions]="[5, 10, 25, 50]" 
        aria-label="Select attendance page"
        (page)="onPageChange($event)"
      ></mat-paginator>
    }
  </section>
</main>