<div class="text-center mt-2">
  <div class="flex items-center justify-center gap-4">
    <lucide-angular class="w-8 h-8 text-blue-600" [img]="Sparkles"></lucide-angular>
    <h1 class="text-5xl">Welcome!</h1>
    <lucide-angular class="w-8 h-8 text-blue-600" [img]="Sparkles"></lucide-angular>
  </div>
  <p class="text-text-300 text-2xl my-2">
    We're delighted to have you with us today
  </p>
</div>

<div class="bg-white/40 backdrop-blur-md rounded-xl p-6 mb-6 border border-blue-300/50 shadow-lg">
  <div class="grid grid-cols-2 gap-6">
    <div class="flex items-center gap-3">
      <lucide-angular class="w-6 h-6 text-monochromatic-dark stroke-[3]" [img]="User"></lucide-angular>
      <h2 class="text-3xl">Name</h2>
    </div>
    <div class="flex items-center gap-3">
      <lucide-angular class="w-6 h-6 text-monochromatic-dark stroke-[3]" [img]="Handshake"></lucide-angular>
      <h2 class="text-3xl">Invited By</h2>
    </div>
  </div>
</div>