<header class="border-b border-monochromatic-dark print:hidden">
  <nav class="main-container py-4 flex items-center justify-between botder">
    <h1 class="cursor-pointer text-3xl font-bold" routerLink="/">Attendify</h1>

    <div class="flex items-center gap-4">
      <ul class="hidden md:flex gap-4 font-semibold">
        <li class="cursor-pointer" routerLink="dashboard">Dashboard</li>
        <li class="cursor-pointer" routerLink="attendees">Attendees</li>
        <li class="cursor-pointer" routerLink="calendar">Calendar</li>
        <li class="cursor-pointer" routerLink="attendance">Attendance</li>
        <li class="cursor-pointer" routerLink="events">Events</li>
        <li class="cursor-pointer" routerLink="reports">Reports</li>
      </ul>

      @if (isSignedIn()) {
        <clerk-user-button class="flex"></clerk-user-button>
      } @else {
        <app-button routerLink="login">Login</app-button>
      }
    </div>
    <!-- <img src="" alt=""> -->
  </nav>
</header>