.modal {
  border-radius: 8px; 
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); 
  background-color: white; 
  padding: 1rem; 
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
