<main class="main-container">
  <h1 class="text-2xl font-bold mt-4">LTHMI Recto Manila - <span class="text-monochromatic-dark">Special Events</span></h1>
  <div class="mt-4 flex items-center justify-between">
    <h1>Ace</h1>
    <button mat-flat-button color="primary" (click)="openAddEventDialog()">Add Event</button>
  </div>

  <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-4">
    @if (isLoading) {
      <app-event-card-skeleton></app-event-card-skeleton>
    }

    @for (event of events; track $index) {
      @if (!isLoading) {
        <app-event-card 
          id="{{event.id}}"
          name="{{event.name}}" 
          description="{{event.description}}" 
          image="{{event.image}}"
          organization="{{event.organization.name}}"
          tagline="{{event.tagline}}" 
          href="/events/{{event.id}}/manage"
          location="{{event.location}}" 
          startDate="{{event.startDate}}" 
          endDate="{{event.endDate}}" 
          startTime="{{event.startTime}}" 
          endTime="{{event.endTime}}"
        ></app-event-card>
      }
    }
  </section>
</main>
