<div class="min-h-screen bg-gradient-to-br from-cyan-200 via-blue-300 to-blue-400">
  <main class="main-container pt-4">
    <div class="flex mb-2 items-center gap-2">
      <lucide-angular 
        [img]="CornerDownLeft" 
        [size]="32" 
        class="cursor-pointer border border-text-300 rounded-md shadow-2xs shadow-text-300"
        (click)="goBack()"
      ></lucide-angular>
      <h1 class="text-2xl font-bold">G12 Mentoring - Vision Caloocan: <span class="text-blue-500">VIP Attendees</span></h1>
    </div>

    <mat-tab-group animationDuration="0ms">
      <mat-tab label="First Timer">
        @if (vips.FIRST_TIMER.length === 0) {
          <div class="mt-4 overflow-hidden">
            <app-error-card
              [statusCode]="204"
              title="Content Not Found"
              message="No first-timers have checked in for this event yet."
              imageUrl="/assets/http.cat/204.jpeg"
            ></app-error-card>
          </div>
        }

        @if (vips.FIRST_TIMER.length > 0) {
          <div class="overflow-hidden">
            <app-vip-header></app-vip-header>
    
            <div class="space-y-4">
              @for (record of vips.FIRST_TIMER; track $index) {
                <app-vip-item 
                  firstName="{{record.attendee.firstName}}" 
                  lastName="{{record.attendee.lastName}}" 
                  invitedBy="{{record.attendee.invitedBy}}"
                ></app-vip-item>
              }
            </div>
            
            <p class="text-center mt-8 text-text-300 text-lg">Thank you for being here! 🎉</p>
          </div>
        }
      </mat-tab>
      <mat-tab label="Second Timer">
        @if (vips.SECOND_TIMER.length === 0) {
          <div class="mt-4 overflow-hidden">
            <app-error-card
              [statusCode]="204"
              title="Content Not Found"
              message="No second-timers have checked in for this event yet."
              imageUrl="/assets/http.cat/204.jpeg"
            ></app-error-card>
          </div>
        }

        @if (vips.SECOND_TIMER.length > 0) {
          <div class="overflow-hidden">
            <app-vip-header></app-vip-header>
    
            <div class="space-y-4">
              @for (record of vips.SECOND_TIMER; track $index) {
                <app-vip-item 
                  firstName="{{record.attendee.firstName}}" 
                  lastName="{{record.attendee.lastName}}" 
                  invitedBy="{{record.attendee.invitedBy}}"
                ></app-vip-item>
              }
            </div>
            
            <p class="text-center mt-8 text-text-300 text-lg">Thank you for being here! 🎉</p>
          </div>
        }
      </mat-tab>
      <mat-tab label="Third Timer">
        @if (vips.THIRD_TIMER.length === 0) {
          <div class="mt-4 overflow-hidden">
            <app-error-card
              [statusCode]="204"
              title="Content Not Found"
              message="No third-timers have checked in for this event yet."
              imageUrl="/assets/http.cat/204.jpeg"
            ></app-error-card>
          </div>
        }

        @if (vips.THIRD_TIMER.length > 0) {
          <div class="overflow-hidden">
            <app-vip-header></app-vip-header>
    
            <div class="space-y-4">
              @for (record of vips.THIRD_TIMER; track $index) {
                <app-vip-item 
                  firstName="{{record.attendee.firstName}}" 
                  lastName="{{record.attendee.lastName}}" 
                  invitedBy="{{record.attendee.invitedBy}}"
                ></app-vip-item>
              }
            </div>
            
            <p class="text-center mt-8 text-text-300 text-lg">Thank you for being here! 🎉</p>
          </div>
        }
      </mat-tab>
      <mat-tab label="Fourth Timer">
        @if (vips.FOURTH_TIMER.length === 0) {
          <div class="mt-4 overflow-hidden">
            <app-error-card
              [statusCode]="204"
              title="Content Not Found"
              message="No fourth checked in for this event yet."
              imageUrl="/assets/http.cat/204.jpeg"
            ></app-error-card>
          </div>
        }

        @if (vips.FOURTH_TIMER.length > 0) {
          <div class="overflow-hidden">
            <app-vip-header></app-vip-header>
  
            <div class="space-y-4">
              @for (record of vips.FOURTH_TIMER; track $index) {
                <app-vip-item 
                  firstName="{{record.attendee.firstName}}" 
                  lastName="{{record.attendee.lastName}}" 
                  invitedBy="{{record.attendee.invitedBy}}"
                ></app-vip-item>
              }
            </div>
            
            <p class="text-center mt-8 text-text-300 text-lg">Thank you for being here! 🎉</p>
          </div>
        }
      </mat-tab>
    </mat-tab-group>
  </main>
</div>
