<div class="p-4 bg-white border border-slate-400 rounded-lg shadow-sm overflow-hidden flex flex-col">
  <img src="https://picsum.photos/seed/for/800/400" alt="event-image" class="h-52 w-full" />
  <div class="mt-2">
    <h1 class="text-text-900 font-black text-xl">Saving Family, Transforming Cities</h1>
    <p class="text-lg font-bold text-text-300">Each One, Bring One</p>
    <h2 class="text-lg font-bold text-monochromatic-dark">LTHMI Recto Manila</h2>
    <p class="text-text-300 mb-2">
      deserunt consequatur veniam magni molestiae itaque voluptatem ipsum voluptate, neque sed
      ratione aliquid?s
    </p>
    <app-button routerLink="/events/event-name/event-registration">Enable Attendance</app-button>

  </div>
</div>
