<div class="p-4 bg-white border border-slate-400 rounded-lg shadow-sm overflow-hidden flex flex-col">
  <div class="h-52 w-full bg-gray-300 rounded-md animate-pulse"></div>
  <div class="mt-2 space-y-2">
    <h1 class="rounded-md text-xl bg-gray-300 animate-pulse">‎</h1>
    <p class="rounded-md text-lg font-bold bg-gray-300 animate-pulse">‎</p>
    <h2 class="rounded-md text-lg font-bold bg-gray-300 animate-pulse">‎</h2>
    <p class="rounded-md bg-gray-300 animate-pulse">‎</p>
    <p class="rounded-md bg-gray-300 animate-pulse w-3/5">‎</p>
    <p class="rounded-md bg-gray-300 animate-pulse w-3/5">‎</p>
    <div class="rounded-md w-28 h-8 bg-gray-300 animate-pulse"></div>
  </div>
</div>
