<main class="bg-bsod-success fixed inset-0 z-[9999] flex items-center">
  <div class="main-container">
    <h1 class="smile">:)</h1>
    <p class="mt-20 text-3xl text-white leading-12 w-4/5">Your PC ran into a success and can continue. We're just collecting some success info, and then we'll continue for you. We're just pretending to load something. (0% Complete)</p>
    <p class="mt-12 text-lg text-white">If you'd like to know more. you can search online later for this success: HALLELUJAH_ATTENDANCE_ACQUIRED</p>
  </div>
</main>